*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "STIXTwoText-Bold";
    src: url("../font/STIXTwoText-Bold.ttf");
}@font-face {
    font-family: "STIXTwoText-SemiBold";
    src: url("../font/STIXTwoText-SemiBold.ttf");
}
@font-face {
    font-family: "STIXTwoText-Regular";
    src: url("../font/STIXTwoText-Regular.ttf");
}
@font-face {
    font-family: "STIXTwoText-semiBoldItalic";
    src: url("../font/STIXTwoText-SemiBoldItalic.ttf");
}
@font-face {
    font-family: "STIXTwoText-Medium";
    src: url("../font/STIXTwoText-Medium.ttf");
}
@font-face {
    font-family: "STIXTwoText-MediumItalic";
    src: url("../font/STIXTwoText-MediumItalic.ttf");
}
body{
    width: 100%;
    background-color:white;
}
.container-fluid{
    margin: 0 auto;
    padding:0 15px;
    background: #56CCF2;
    background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);
    background: linear-gradient(to right, #2F80ED, #56CCF2);
    width: 100%;
}
.container-fluid .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container-fluid .header .logo{
    width: 33.33%;
    display: flex;
    align-items: center;
}
.container-fluid .header .logo img{
    width: 20%;
    background-color: #f9fafa8f;
    border-radius:100%;
}
.container-fluid .header .logo h1{
    color:#b803a9;
    font-family:"STIXTwoText-Bold";
    text-shadow: 2px 3px 5px #56ccf2;
}
.container-fluid .header .logo h2{
    color: #01442e;
    font-family:"STIXTwoText-SemiBold"
}
.container-fluid .header .search {
    width: 33.33%;
}
.container-fluid .header .search form{
    display: flex;
    justify-content: center;
}
.container-fluid .header .search form input{
    padding: 5px;
    width: 100%;
    background-color:rgba(251, 251, 253, 0);
    border:none;
    color: white;
    border-bottom: 2px solid rgb(4, 252, 4);
}
.container-fluid .header .search form input::placeholder{
    color: white;
}
.container-fluid .header .search form button{
    padding: 5px;
    background-color:rgba(255, 255, 255, 0.281);
    border: none;
    cursor: pointer;
    color: rgb(0, 7, 12);
    font-weight: bold;
}
.container-fluid .header .buttons{
    padding:10px;
    width: 33.33%;
    text-align: right;
}
.container-fluid .header .buttons a{
    text-decoration: none;
    margin-left: 8px;
    border: 1px solid black;
    padding:5px;
    border-radius:5px;
    font-size:1rem;
    color: azure;
    font-family: "STIXTwoText-Medium";
}
.container-fluid .header .buttons a:first-child{
    margin-left:0px;
    background-color:rgba(104, 23, 255, 0.822);
}
.container-fluid .header .buttons a:nth-child(2){
    margin-right: 10px;
    background-color:rgba(2, 129, 65, 0.822);
}
.container-fluid .header .buttons a:nth-child(3){
    border:none;
    color:black;
    font-weight: 600;
}
.container-fluid .header .buttons a:nth-child(4){
    border:none;
}
.container-fluid .header .buttons a:last-child{
    margin-right: 10px;
    background-color:rgba(255, 0, 55, 0.822);
}
.search-another{
    visibility: hidden;
}
.search-another form{
    display: flex;
    justify-content:center;
    background-color: rgba(126, 123, 123, 0.514);
}
.search-another form input,button{
    padding:5px;
    background-color: rgba(255, 255, 255, 0.466);
    color:black;
    border: none;
    font-family: "STIXTwoText-Regular";
}
.search-another form input{
    border-bottom: 2px solid rgb(4, 250, 4);
    width: 100%;
}
.search-another form input::placeholder{
    color: black;
}
.search-another form button{
    background-color: white;
    font-weight: bold;
    text-align: center;
}
@media (max-width:575.98px){
    .search-another{
        visibility: visible;
    }
    .container-fluid .header{
        justify-content: space-between;
    }
    .container-fluid .header .logo{
        width:40%;
    }
    .container-fluid .header .logo img{
        width:23%;
    }
    .container-fluid .header .logo h1,h2{
        margin-top:2px;
        font-size:1rem;
    }
    .container-fluid .header .search{
        display: none !important;
    }
    .container-fluid .header .buttons{
        padding:10px;
        width:60%;
        text-align: center !important;
    }
    .container-fluid .header .buttons a{
        font-size:0.8rem;
        padding: 2px;
    }
}
@media (min-width:576px) and (max-width:767.98px){

}
@media (min-width:768px) and (max-width: 991.98px) {
    
}
@media (min-width:992px) and (max-width: 1999.98px) {
    .container-fluid .header .logo img{
        width: 15%;
    }
}
@media (min-width: 1200px){
    
}