/* UTITLITY STYLES */

body{
    padding: 0px;
    margin: 0px;
}

a{
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
    padding: 0px;
    margin: 0px;
}


.error{
    color: red;
    font-size: 13px;
    display: none;
}


/******** HEADER *********/
#header {
    background-color: dodgerblue;
    color: white;
    padding-top: 5px;
}

#header h1 a{
    margin: 0px;
    color: white;
}
#header h1{
    margin: 0px;
    padding: 0px;
}

#logo{
    width: 90%; 
    margin: auto;
}

#header a{
    text-decoration: none;
}

#search-group{
    background-color: dodgerblue;
    padding: 5px;
}

#search-bar{
    width: 95%;
    padding: 0px auto;
}

#search-btn img{
    padding: 0px;
    width: 20px;
}

#cart,#profile{
    filter: invert(100%);
    width: 40px;
    margin: 20px 20px;
    cursor: pointer;
}

#login-btn{
    cursor: pointer;
}


#menubar{
    display: flex;
    flex-direction: row;
    background-color: black;
    margin: 0px;
}

#menubar li{
    list-style: none;
    text-align: center;
    padding: 5px 20px;
    font-size: 15px;
    color: white;
}

#menubar li a{
    text-decoration: none;
    color: white;
}

#menubar li:hover{
  background-color: grey;
  color: white;
}

#profile-hover-list{
    list-style: none;
    margin: 0px;
    padding: 0px;  
    position: absolute;
    right: 0; 
    width: 30%;
    display: none;
}

#profile-hover-list li a{
    color: black;
    text-align: center;
}

#profile-hover-list li a:hover{
    color: red;
 
}


#profile-hover-list li {
        background-color: white ;
        padding: 5px 10px;
        text-align: center;
}



/****************** BANNER CAROUSEL ****************/

#banner{
    width: 100%;
    height: 400px;
    background-color: khaki;
}


/********* LOGIN PANEL MODEL BOX********/
#login-panel, #register-panel{
    background-color: rgb(139, 134, 134);
}

#login-form, #register-form{ 
    display: flex;
    flex-direction: column;  
    margin: 5px auto;
    padding: 10px;
}

#login-form  input, #register-form  input{
    margin: 10px 0px;
}

#response{
    display: none;
}

.cross{ 
    cursor: pointer;
}

#login-link, #register-link{
    cursor: pointer;
}

/********************** Book items on index page****************************/

.item{
    background-color: lightpink;
    width: 80%;
    display: block;
    margin: 10px auto;
    height: 200px;
}



/************* Footer**************/

#footer{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: justify;
}
#footer-inner{
    background-color: black;
    color: white;
    border-top:0.5px solid lightgray;
}
 /* ------------About Us------------------*/
body{
    margin: 0;
    padding: 0;
    font-family: arial,Verdana, Geneva, Tahoma, sans-serif; 
}
.header-1{
    height: 100vh;
    width: 100%;
    background-image: url(../image/bg.jpg);
    background-repeat: no repeat ;
    background-size: cover;
    background-position: center;
}
.main-1{
    width: 50%;
    background: rgba(0,0,0,.7);
    color: #ffffff;
    text-align: centre;
    padding: 50px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}
/*-------------about us--------------------*/


/**************** Media Queries*******************/

@media(max-width:500px){

    #cart, #profile{
        width: 20px;
        margin: 10px 10px;
    }

    #logo{
        width: 100%;
    }
    
}

@media(max-width:420px){
    
#menubar li{
    padding: 5px 10px;
    font-size: 13px;
}

#login-form form{
    width: 95%;
    margin: 0px auto;
}


}