*{
    margin:0;
    padding: 0;
}
@font-face{
    font-family:"STIXTwoText-Bold.ttf";
    src:url("../font/STIXTwoText-Bold.ttf");
}
@font-face{
    font-family:"STIXTwoText-Medium.ttf";
    src:url("../font/STIXTwoText-Medium.ttf");
}
@font-face{
    font-family:"STIXTwoText-Regular.ttf";
    src:url("../font/STIXTwoText-Regular.ttf");
}
@font-face{
    font-family:"STIXTwoText-SemiBold.ttf";
    src:url("../font/STIXTwoText-SemiBold.ttf");
}
@font-face{
    font-family:"STIXTwoText-SemiBoldItalic.ttf";
    src:url("../font/STIXTwoText-SemiBoldItalic.ttf");
}
body{
    background-color:rgba(151, 150, 150, 0.219);
    background: linear-gradient(130deg,rgba(253, 182, 182, 0.438),rgba(253, 153, 211, 0.521),rgba(245, 154, 189, 0.527));
    height: 100vh;
}
.container-fluid .link{
    display: flex;
    justify-content: space-between;
    background-color:rgba(150, 148, 148, 0.24);
    padding: 0 10px;
    border-radius:5px;
    box-shadow: 5px 5px 5px rgba(8, 8, 8, 0.233);
}
.container-fluid .link nav{
    width: 20%;
}
.container-fluid .link nav ul {
    list-style: none;
    cursor: pointer;
}
.container-fluid .link nav ul li img{
    margin-top: 10px;
    width: 30%;
}
.container-fluid .link nav .sub-nav{
    display: none;
}
.container-fluid .link nav ul li:hover .sub-nav{
    display: block;
    position: absolute;
}
.container-fluid .link nav .sub-nav ul{
    background-color: rgba(178, 247, 247, 0.815);
    list-style: none;
    padding:10px;
    border-radius: 5px;
}
.container-fluid .link nav .sub-nav ul li a{
    text-decoration: none;
    color: black;
    font-family: "STIXTwoText-SemiBold.ttf";
}
.container-fluid .link nav .sub-nav ul li a:hover{
    background-color:rgba(251, 252, 251, 0.644);
    padding: 5px;
    width: 100%;
    font-size:1.2rem;
    color:rgb(54, 53, 53);
    border-radius:8px;
}
.container-fluid .link .logo{
    display: flex;
}
.container-fluid .link .logo {
    width: 33%;
}
.container-fluid .link .logo img{
    width: 30%;
    text-align: center;
}
.container-fluid .link .logo h1{
    text-align: center;
    margin-top:10px;
    font-family:"STIXTwoText-Bold.ttf";
    color:rgb(80, 4, 180);
    text-shadow: 5px 5px 5px rgba(149, 243, 250, 0.664);
}
.container-fluid .link .buttons{
    align-self: center;
}
.container-fluid .link .buttons a{
    text-decoration: none;
    border:2px solid black;
    padding:5px;
    font-family: "STIXTwoText-SemiBold.ttf";
    color:white;
    border-radius: 5px;
}
.container-fluid .link .buttons a:first-child{
    background-color:rgba(2, 6, 252, 0.808);
}
.container-fluid .link .buttons a:first-child:hover{
    background-color: rgb(134, 142, 253);
}
.container-fluid .link .buttons a:nth-child(2){
    background-color: rgba(5, 248, 5, 0.897);
}
.container-fluid .link .buttons a:last-child{
    background-color: red;
}
.container-fluid .link .buttons a:last-child:hover{
    background-color:rgba(252, 78, 78, 0.822);
}
.container-fluid .link .buttons a:nth-child(2):hover{
    background-color:green;
}
@media (max-width: 300px){
    .container-fluid .link{
        justify-content: flex-start;
    }
    .container-fluid .link nav {
        margin-top: 9px;
        width: 25%;
        margin-right: 10px;
    }
    .container-fluid .link nav ul li img{
        width:100%;
    }
    .container-fluid .link .logo h1{
        font-size:0.7rem;
        margin-top: 20px;
    }
    .container-fluid .link .buttons{
        margin-left: 10px;
    }
    .container-fluid .link .buttons a{
        font-size:0.5rem;
        padding:2px;
    }
}
@media (min-width: 300px){
    .container-fluid .link{
        justify-content: flex-start;
    }
    .container-fluid .link nav {
        margin-top: 9px;
        width: 20%;
        margin-right: 30px;
    }
    .container-fluid .link nav ul li img{
        width:100%;
    }
    .container-fluid .link .logo h1{
        font-size:0.8rem;
        margin-top: 20px;
    }
    .container-fluid .link .buttons{
        margin-left: 30px;
    }
    .container-fluid .link .buttons a{
        font-size:0.6rem;
        padding:2px;
    }
}
@media (min-width: 576px) {
    .container-fluid .link{
        justify-content:space-between;
    }
    .container-fluid .link nav{
        width: 10%;
    }
    .container-fluid .link nav ul li img{
        width:100%;
    }
    .container-fluid .link .logo h1{
        font-size:1.5rem;
        margin-top: 15px;
    }
    .container-fluid .link .buttons a{
        font-size:1rem;
        padding:5px;
    }
}
@media (min-width: 768px) {
    .container-fluid .link nav ul li img{
        display:none;
    }
    .container-fluid .link nav .sub-nav{
        display: block;
        position:relative;
    }
    .container-fluid .link nav .sub-nav ul{
        display: flex;
        margin-top:10px;
        background-color:rgba(253, 182, 182, 0.178);
    }
    .container-fluid .link nav .sub-nav ul li{
        margin-left: 5px;
        text-align: center;
    }
    .container-fluid .link nav .sub-nav ul li a{
        font-size: 0.9rem;
    }
    .container-fluid .link nav .sub-nav ul li a:hover{
        font-size: 1rem;
    }
    .container-fluid .link nav .sub-nav ul li:first-child{
        margin:0px;
    }
    .container-fluid .link .logo{
        margin-left: 60px;
    }
    .container-fluid .link .logo h1{
        font-size: 2rem;
        margin-top: 20px;
    }
    .container-fluid .link .buttons a{
        font-size:0.7rem;
        padding:6px;
    }
}
@media (min-width: 992px) {
    .container-fluid .link nav .sub-nav ul li{
        margin-left:10px;
    }
    .container-fluid .link nav .sub-nav ul li a{
        font-size: 1.2rem;
    }
    .container-fluid .link nav .sub-nav ul li a:hover{
        font-size: 1.4rem;
    }
    .container-fluid .link .logo img{
        width:20%;
    }
    .container-fluid .link .logo h1{
        margin-top:25px;
        font-size:2.5rem;
    }
}
@media (min-width: 1200px){
    .container-fluid .link nav .sub-nav ul{
        margin-top:20px;
    }
}
